@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-3"><b>Tu wyszukiwarka</b></div>
    <div class="col-md-9"><b>tutaj oferty</b>
    <h1>@ViewData["MyData"]</h1>
    </div>
</div>
